<div class="blank_slate">
  <p>
      <%= I18n.t('pageflow.editor.templates.chapter_item.all_released') %>
  </p>
  <p>
      <%= I18n.t('pageflow.editor.templates.chapter_item.link_to_progress', {
            link: '<a href="#/files/video_files">'+I18n.t('pageflow.editor.templates.chapter_item.manage_files')+'</a>'})
      %>
  </p>
</div>

<div class="video_files_panel">
  <h2><%= I18n.t('pageflow.editor.templates.chapter_item.videos_tab') %></h2>
</div>

<div class="audio_files_panel">
  <h2><%= I18n.t('pageflow.editor.templates.chapter_item.audios_tab') %></h2>
</div>

<div class="summary">
</div>
<button class="confirm"><%= I18n.t('pageflow.editor.templates.chapter_item.confirm_button') %></button>
